<!DOCTYPE html>
<html>
  <head>
    <title>Language</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div style="display: flex;flex-direction: column;">
      <%= link_to 'sr', root_path %>
      <%= link_to 'en', root_path %>
    </div>

    <div style="display: block;">
      <%= link_to 'Home', root_path %>
      <%= link_to 'About', home_about_path %>
   
    </div>

    <%= yield %>
  </body>
</html>
